<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="AdminMenuController" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="index.html">Hoàn Tuấn Thành</a>
    </div>
    <!-- /.navbar-header -->
    <form id="logout" action="/user/logout" method="POST"></form>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            Xin chào, <span id="fullname"></span>
        </li>
       <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="#" onclick="document.getElementById('logout').submit();"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse"  oc-lazy-load="['../vendor/jquery/jquery.min.js']">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                   <img src="../images/logo.png" width="220" />
                </div>

            </li>
            <li ng-repeat="menu in menus">
                <a ui-sref="{{menu.menu}}"><i class="{{menu.icon}}" aria-hidden="true"></i> {{menu.label}}</a>
                <ul ng-if="subMenus.length > 0" class="nav nav-second-level">
                    <li ng-repeat="submenu in subMenus | filter:{menu_id: menu.id}">
                        <a ui-sref="{{submenu.submenu}}">{{submenu.label}}</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
    <!-- /.navbar-static-side -->
</nav>
<script>
    $(document).ready(function(){
        var data = sessionStorage.getItem('user');
        $('#fullname').text(data.fullname);
    });
</script>