<section class="main-container col1-layout home-content-container" oc-lazy-load="['css/owl.carousel.css','css/owl.theme.css','css/style.css','js/jquery.min.js','js/parallax.js','js/common.js','js/owl.carousel.min.js']">
    <div class="container">
      <div class="row">
        <div class="std">
          <div class="best-pro col-lg-12">
            <div class="slider-items-products">
              <div class="new_title center">
                <h2>HÀNG MỚI</h2>
              </div>
              <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4" ng-controller="HomeController"> 
                  
                  <!-- Item -->
                  <div class="item" ng-repeat="p in newArrivals">
                    <div class="col-item">
                      <div class="new-label new-top-right">New</div>
                      <div class="item-inner">
                        <div class="item-img">
                          <div class="item-img-info"> <a href="product_detail.html"  title="{{p.product_name}}" class="product-image"> <img height="150" src="{{p.image}}" alt="{{p.product_name}}"> </a>
                            <div class="item-box-hover">
                              <div class="box-inner">
                                <div class="product-detail-bnt"><a href="quick_view.html" class="button detail-bnt"> <span>Xem nhanh</span></a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a href="product_detail.html" title="{{p.product_name}}"> {{p.product_name}} </a> </div>
                            <div class="item-content">
      
                              <div class="item-price">
                                <div class="price-box"> <span class="regular-price" id="product-price-1"> <span ng-if="p.price== 0" class="price">Liên hệ</span> <span ng-if="p.price > 0" class="price">{{p.price | currency : "" : 0}} đ</span> </span> </div>
                              </div>
                            </div>
                          </div>
                          <div class="actions"><span class="add-to-links"> 
                            <button  title="Add to Cart" class="button btn-cart"><span>ĐẶT HÀNG</span></button>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Item --> 
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>