<div class="content-page">
    <div class="container">
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <ul>
                        <li class="home"> <a href="index.html" title="Go to Home Page">Trang chủ</a><span>&raquo;</span></li>
                        <li class=""> <a href="#/news/init" title="Go to Home Page"><strong>Tin tức</strong></a></li>
                    </ul>
                </div>
                <div class="line"></div>
            </div>
        </div>

        <div class="">
            <div class="body col-left">
                <div class="col-md-9 col-sm-12 col-xs-12 col-left">
                    <div class="title" style="font-feature-settings: abvs">
                        <h3>Tin tức</h3>
                    </div>
                    <ul class="block-news clearfix">
                        <li ng-repeat="n in news | limitTo:pagination.itemsPerPage:(pagination.currentPage-1)*pagination.itemsPerPage">
                            <div class="item">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a ui-sref="news_detail({ntype: 1, nid: 1})" title="{{n.title}}" class="img"> <img ng-if="n.image" ng-src="{{n.image}}" alt="{{n.title}}"></a>
                                    </div>
                                </div>
                                <div class="block-news-title">
                                    <h3><a ui-sref="news_detail({ntype: 1, nid: 1})" title="{{n.title}}">{{n.title}}</a></h3>
                                </div>

                                <div class="block-news-meta">
                                    <strong><a href="">Trong nước</a></strong> -
                                    <span>1 phút trước</span>
                                </div>
                                <div class="block-news-content">{{n.short_content}}</div>
                            </div>

                            <div class="clearfix">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 col-right">
                <div class="block">
                    <div class="title-block"><span>Tin tức mới nhất</span></div>
                    <ul class="content-block block-news">
                        <li ng-repeat="n in news">
                            <div class="item">
                                <div>
                                    <a href=""><img width="150" height="150" src="{{n.image}}" class="image" alt="404 error found"></a>
                                </div>

                                <div>
                                    <a href="" title="{{n.title}}"><strong>{{n.title}}</strong></a>
                                </div>
                                <div class="clearfix">
                                </div>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="toolbar" ng-if="news.length > 0">
    <div class="pager">
        <div class="pages">
            <ul class="pagination" uib-pagination total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage"
                ng-change="pageChanged()">
                <!--<li><a href="">«</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="">2</a></li>
                                        <li><a href="">3</a></li>
                                        <li><a href="">4</a></li>
                                        <li><a href="">5</a></li>
                                        <li><a href="">»</a></li>-->
            </ul>
        </div>
    </div>
</div>
<h4 ng-if="news.length <= 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Tin tức bạn tìm hiện không có</h4>

</div>