<!-- end breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <ul>
        <li class="home"> <a href="index.html" title="Go to Home Page">Trang chủ</a><span>&raquo;</span></li>
        <li class=""> <a href="/products/init" title="Go to Home Page">Ống nhựa PVC</a><span>&raquo;</span></li>
        <li class="category13"><strong> Ống Nhựa uPVC - u.PVC PIPE </strong></li>
      </ul>
    </div>
    <div class="line"></div>
  </div>
</div>
<!-- end breadcrumbs -->
<!-- main-container -->
<section class="main-container col1-layout">
  <div class="main container">
    <div class="col-main">
      <div class="row">
        <div class="product-view">
          <div class="product-essential">
            <div class="product-img-box col-sm-4 col-xs-12">
              <div class="product-image">
                <div class="large-image">
                  <a href="products-images/p1.jpg" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20">
                    <img alt="product-image" src="products-images/4.jpg"> </a>
                </div>
              </div>
              <!-- end: more-images -->
              <div class="clear"></div>
            </div>
            <div class="product-shop col-sm-8 col-xs-12">
              <div class="product-name">
                <h1>Ống Nhựa uPVC - u.PVC PIPE</h1>
              </div>
              <div class="short-description">
                <p>Ống Nhựa uPVC - u.PVC PIPE được sản xuất theo tiêu chuẩn ISO 1452:2009, có chất lượng cao, được sử dụng rộng rãi nhất trong các công trình xây dựng hiện nay.Ống nước nhựa uPVC có chất lượng và độ bền tốt nhất trong các loại ống nhựa cấp nước sạch,thoát nước thải, ống thoát nước mưa, thoát nước trong nhà,ngoài nhà, thoát nước công trình...có khả năng chống nấm mốc và không bị nhiễm khuẩn. Bề mặt trong của ống PVC cực kỳ trơn tru, không hỗ trợ sự phát triển của các chất độc hại hoặc mùi hôi thối. Điều này là tối quan trọng trong việc vận chuyển,dẫn nước sạch đến các khu dân cư và đô thị...Ống nhựa uPVC của công ty Cp Nhựa Tiền Phong sản xuất phù hợp với tiêu chuẩn nghiêm ngặt của Việt Nam và các nước trong khu vực. Các loại ống nhựa Tiền Phong u.PVC có đường kính từ Ø 21mm đến Ø 800mm. </p>
              </div>
              <div class="price-block">
                <div class="price-box">
                  <p class="special-price"> <span class="price-label"></span> <span class="price"> Giá : Liên hệ </span> </p>
                </div>
              </div>
            </div>
            <!--<div class="product-slider col-sm-8 col-xs-12">
              <div class="flexslider flexslider-thumb">
                <ul class="previews-list slides">
                  <li>
                    <a href='products-images/product6.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'products-images/product6.jpg' "><img src="products-images/product6.jpg" alt="Thumbnail 1" /></a>
                  </li>
                  <li>
                    <a href='products-images/product10.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'products-images/product10.jpg' "><img src="products-images/product10.jpg" alt="Thumbnail 2" /></a>
                  </li>
                  <li>
                    <a href='products-images/product3.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'products-images/product3.jpg' "><img src="products-images/product3.jpg" alt="Thumbnail 1" /></a>
                  </li>
                  <li>
                    <a href='products-images/product4.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'products-images/product4.jpg' "><img src="products-images/product4.jpg" alt="Thumbnail 2" /></a>
                  </li>
                  <li>
                    <a href='products-images/product5.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: 'products-images/product5.jpg' "><img src="products-images/product5.jpg" alt="Thumbnail 2" /></a>
                  </li>
                </ul>
              </div>
            </div>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="product-desc-container">
          <div class="product_title center">
            <div class="title-category"><span>Mô tả Chi tiết</span></div>
          </div>
          <div class="product-desc-content">
            <h3 class="text-center">Phụ kiện&nbsp;nối góc 90 độ của&nbsp;<a href="http://ongnhua.net.vn/">ống nước</a> nhựa Tiền Phong uPVC</h3>
            <p class="text-center"><img class="aligncenter wp-image-706" src="http://ongnhua.net.vn/wp-content/uploads/2016/07/ong-upvc-noi-goc-90-do.jpg"
                sizes="(max-width: 600px) 100vw, 600px" srcset="http://ongnhua.net.vn/wp-content/uploads/2016/07/ong-upvc-noi-goc-90-do.jpg 321w, http://ongnhua.net.vn/wp-content/uploads/2016/07/ong-upvc-noi-goc-90-do-300x245.jpg 300w"
                alt="ong-upvc-noi-goc-90-do" width="600" height="490"></p>
          </div>
        </div>
        <div class="product-desc-container">
          <div class="product_title center">
            <div class="title-category"><span>Sản phẩm liên quan</span></div>
          </div>
          <div class="product-desc-content">
            <div class="category-products">
              <ul class="products-grid" ng-controller="HomeController">
                <li class="item col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-if="products.length > 0" ng-repeat="p in products | limitTo:pagination.itemsPerPage:(pagination.currentPage-1)*pagination.itemsPerPage">
                  <div class="col-item">
                    <!--<div class="sale-label sale-top-right">Sale</div>-->
                    <div class="item-inner">
                      <div class="item-img">
                        <div class="item-img-info">
                          <a ui-sref="product_detail({cid: 1, pid: 1})" title="Sample Product" class="product-image"> <img ng-if="p.image" style="width: 200px; height:185px;"  ng-src="{{p.image}}" alt="{{p.product_name}}"></a>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a ui-sref="product_detail({cid: 1, pid: 1})" title="{{p.product_name}}"> {{p.product_name}} </a> </div>
                          <div class="item-content">
                            <div class="item-price">
                              <div class="price-box">
                                <span class="regular-price"> 
                          <span ng-if="p.price== 0" class="price">Liên hệ</span>
                                <span ng-if="p.price > 0" class="price">{{p.price | currency : "" : 0}} đ</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </li>
              </ul>
              <div class="toolbar" ng-if="products.length > 0">
                <div class="pager">
                  <div class="pages">
                    <ul class="pagination" uib-pagination total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" ng-model="pagination.currentPage"
                      ng-change="pageChanged()">
                      <!--<li><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>-->
                    </ul>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- End Two columns content -->
</div>
<script>

  $('.flexslider').flexslider({
    animation: "slide"
  });
</script>